For just predicting/inference you can use the following notebook:

<div class="grid grid-cols-7">
    <div onclick="window.open('https://colab.research.google.com/github/BiaPyX/BiaPy/blob/master/notebooks/BiaPy_Inference.ipynb');" class="flex h-full flex-col gap-2 rounded border-gray-light-100 bg-gray bg-white p-4 drop-shadow-sm hover:border-gray-light-200 hover:drop-shadow-lg container-card">
        <div class="notebook-card">
            <span>
                <b>Inference <br>(2D/3D)</b>
            </span>
        </div>
        <i class="fa-solid fa-book card-icon "></i>
    </div>
</div>

For each workflow we have both 2D and 3D versions:

<div class="grid grid-cols-7">
    <div onclick="window.open('https://colab.research.google.com/github/BiaPyX/BiaPy/blob/master/notebooks/semantic_segmentation/BiaPy_2D_Semantic_Segmentation.ipynb');" class="flex h-full flex-col gap-2 rounded border-gray-light-100 bg-gray bg-white p-4 drop-shadow-sm hover:border-gray-light-200 hover:drop-shadow-lg container-card">
        <div class="notebook-card">
            <span>
                <b>Semantic segmentation <br>(2D)</b>
            </span>
        </div>
        <i class="fa-solid fa-book card-icon "></i>
    </div>
    <div onclick="window.open('https://colab.research.google.com/github/BiaPyX/BiaPy/blob/master/notebooks/instance_segmentation/BiaPy_2D_Instance_Segmentation.ipynb');" class="flex h-full flex-col gap-2 rounded border-gray-light-100 bg-gray bg-white p-4 drop-shadow-sm hover:border-gray-light-200 hover:drop-shadow-lg container-card">
        <div class="notebook-card">
            <span>
                <b>Instance segmentation <br>(2D)</b>
            </span>
        </div>
        <i class="fa-solid fa-book card-icon "></i>
    </div>
    <div onclick="window.open('https://colab.research.google.com/github/BiaPyX/BiaPy/blob/master/notebooks/detection/BiaPy_2D_Detection.ipynb');" class="flex h-full flex-col gap-2 rounded border-gray-light-100 bg-gray bg-white p-4 drop-shadow-sm hover:border-gray-light-200 hover:drop-shadow-lg container-card">
        <div class="notebook-card">
            <span>
                <b>Detection <br>(2D)</b>
            </span>    
        </div>
        <i class="fa-solid fa-book card-icon "></i>
    </div>
    <div onclick="window.open('https://colab.research.google.com/github/BiaPyX/BiaPy/blob/master/notebooks/denoising/BiaPy_2D_Denoising.ipynb');" class="flex h-full flex-col gap-2 rounded border-gray-light-100 bg-gray bg-white p-4 drop-shadow-sm hover:border-gray-light-200 hover:drop-shadow-lg container-card">
        <div class="notebook-card">
            <span>
                <b>Denoising <br>(2D)</b>
            </span>
        </div>
        <i class="fa-solid fa-book card-icon "></i>
    </div>
    <div onclick="window.open('https://colab.research.google.com/github/BiaPyX/BiaPy/blob/master/notebooks/super-resolution/BiaPy_2D_Super_Resolution.ipynb');" class="flex h-full flex-col gap-2 rounded border-gray-light-100 bg-gray bg-white p-4 drop-shadow-sm hover:border-gray-light-200 hover:drop-shadow-lg container-card">
        <div class="notebook-card">
            <span>
                <b>Super-resolution <br>(2D)</b>
            </span>
        </div>
        <i class="fa-solid fa-book card-icon "></i>
    </div>
    <div onclick="window.open('https://colab.research.google.com/github/BiaPyX/BiaPy/blob/master/notebooks/self-supervised/BiaPy_2D_Self_Supervision.ipynb');" class="flex h-full flex-col gap-2 rounded border-gray-light-100 bg-gray bg-white p-4 drop-shadow-sm hover:border-gray-light-200 hover:drop-shadow-lg container-card">
        <div class="notebook-card">
            <span>
                <b>Self supervised learning <br>(2D)</b>
            </span>
        </div>
        <i class="fa-solid fa-book card-icon "></i>
    </div>
    <div onclick="window.open('https://colab.research.google.com/github/BiaPyX/BiaPy/blob/master/notebooks/classification/BiaPy_2D_Classification.ipynb');" class="flex h-full flex-col gap-2 rounded border-gray-light-100 bg-gray bg-white p-4 drop-shadow-sm hover:border-gray-light-200 hover:drop-shadow-lg container-card">
        <div class="notebook-card">
            <span>
                <b>Classification <br>(2D)</b>
            </span>
        </div>
        <i class="fa-solid fa-book card-icon "></i>
    </div>
    <!-- Middle -->
    <div onclick="window.open('https://colab.research.google.com/github/BiaPyX/BiaPy/blob/master/notebooks/semantic_segmentation/BiaPy_3D_Semantic_Segmentation.ipynb');" class="flex h-full flex-col gap-2 rounded border-gray-light-100 bg-gray bg-white p-4 drop-shadow-sm hover:border-gray-light-200 hover:drop-shadow-lg container-card">
        <div class="notebook-card">
            <span>
                <b>Semantic segmentation <br>(3D)</b>
            </span>
        </div>
        <i class="fa-solid fa-book card-icon "></i>
    </div>
    <div onclick="window.open('https://colab.research.google.com/github/BiaPyX/BiaPy/blob/master/notebooks/instance_segmentation/BiaPy_3D_Instance_Segmentation.ipynb');" class="flex h-full flex-col gap-2 rounded border-gray-light-100 bg-gray bg-white p-4 drop-shadow-sm hover:border-gray-light-200 hover:drop-shadow-lg container-card">
        <div class="notebook-card">
            <span>
                <b>Instance segmentation <br>(3D)</b>
            </span>
        </div>
        <i class="fa-solid fa-book card-icon "></i>
    </div>
    <div onclick="window.open('https://colab.research.google.com/github/BiaPyX/BiaPy/blob/master/notebooks/detection/BiaPy_3D_Detection.ipynb');" class="flex h-full flex-col gap-2 rounded border-gray-light-100 bg-gray bg-white p-4 drop-shadow-sm hover:border-gray-light-200 hover:drop-shadow-lg container-card">
        <div class="notebook-card">
            <span>
                <b>Detection <br>(3D)</b>
            </span>
        </div>
        <i class="fa-solid fa-book card-icon "></i>
    </div>
    <div onclick="window.open('https://colab.research.google.com/github/BiaPyX/BiaPy/blob/master/notebooks/denoising/BiaPy_3D_Denoising.ipynb');" class="flex h-full flex-col gap-2 rounded border-gray-light-100 bg-gray bg-white p-4 drop-shadow-sm hover:border-gray-light-200 hover:drop-shadow-lg container-card">
        <div class="notebook-card">
            <span>
                <b>Denoising <br>(3D)</b>
            </span>
        </div>
        <i class="fa-solid fa-book card-icon "></i>
    </div>
    <div onclick="window.open('https://colab.research.google.com/github/BiaPyX/BiaPy/blob/master/notebooks/super-resolution/BiaPy_3D_Super_Resolution.ipynb');" class="flex h-full flex-col gap-2 rounded border-gray-light-100 bg-gray bg-white p-4 drop-shadow-sm hover:border-gray-light-200 hover:drop-shadow-lg container-card">
        <div class="notebook-card">
            <span>
                <b>Super-resolution <br>(3D)</b>
            </span>
        </div>
        <i class="fa-solid fa-book card-icon "></i>
    </div>
    <div onclick="window.open('https://colab.research.google.com/github/BiaPyX/BiaPy/blob/master/notebooks/self-supervised/BiaPy_3D_Self_Supervision.ipynb');" class="flex h-full flex-col gap-2 rounded border-gray-light-100 bg-gray bg-white p-4 drop-shadow-sm hover:border-gray-light-200 hover:drop-shadow-lg container-card">
        <div class="notebook-card">
            <span>
                <b>Self supervised learning <br>(3D)</b>
            </span>
        </div>
        <i class="fa-solid fa-book card-icon "></i>
    </div>
    <div onclick="window.open('https://colab.research.google.com/github/BiaPyX/BiaPy/blob/master/notebooks/classification/BiaPy_3D_Classification.ipynb');" class="flex h-full flex-col gap-2 rounded border-gray-light-100 bg-gray bg-white p-4 drop-shadow-sm hover:border-gray-light-200 hover:drop-shadow-lg container-card">
        <div class="notebook-card">
            <span>
                <b>Classification <br>(3D)</b>
            </span>
        </div>
        <i class="fa-solid fa-book card-icon "></i>
    </div>
</div>