// Background colours
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #05bf85 !default;

// Text colours
$headingColour: #2e242d !default;
$bodyColour: #473838 !default;
$linkColour: #ffffff !default;
$selectedColour: #2e242d !default;
$hoverColour: #00e38a !default;
$biapyColour: #4090fd !default;
$captionColour: #9da0a3 !default;
$white: #ffffff !default;
$black: #000000 !default;

// TIP: Load custom fonts in _config.yaml
$blue: hsla(215, 100%, 76%, 0.5);
$blue1-three-buttons: #3d8ff2;
$blue2-three-buttons: #3ba9f6;
$blue3-three-buttons: #37c3f6;
$blue4-three-buttons: #35e1f9;

$off-black: #000c;
$dark-grey: #393939;
$light-grey: #727272;